.middle-1 {
	height: 1835px;
	background-color: lightgoldenrodyellow;
}
.middle-2 {
	height: 735px;
	background-color: lightcyan;
}
.middle-3 {
	height: 590px;
	background-color: lightgreen;
}
.middle-4 {
	height: 635px;
	background-color: lightpink;
}
.footer-1 {
	height: 450px;
	background-color: lightskyblue;
}
.footer-2 {
	height: 215px;
	background-color: lightgray;
}
.footer-3 {
	height: 580px;
	background-color: #FAFAD2;
}
.footer-4 {
	height: 95px;
	background-color: #ce1c23;
}